<form name='votingStationsForm' novalidate>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-8">
			<h2>Secţii de votare</h2>
			<ol class="breadcrumb">
				<li>
					<a ui-sref="index.main">Acasă</a>
				</li>
				<li>
					<a ui-sref="index.voting_stations">Secţii de votare</a>
				</li>
				<li>
					{{vm.stationId}}
				</li>
				<!-- <li class="active">
				<strong>{{  vm.status.type  }}</strong>
			</li> -->
			</ol>
		</div>
		<div class="col-sm-4">
			<div class="title-action">
				<a ui-sref="index.voting_station_update({stationId:vm.stationId})" class="btn btn-warning btn-sm"><i class="fa fa-ban" aria-hidden="true"></i> Modifică</a>
				<button class="btn-danger btn btn-sm" confirmed-action="vm.delete(item.id)" canceld-action="vm.cancel()"> Sterge</button>
			</div>
		</div>
	</div>


	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<!-- Name -->
				<div class="ibox float-e-margins">
					<!--<div class="ibox-title"><h5>Descriptions</h5><div ibox-tools></div></div>-->
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-4">
								Număr Curent
							</div>
							<div class="col-md-8">
								{{vm.data.crt}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Stat
							</div>
							<div class="col-md-8">
								{{vm.data.country}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Localitate
							</div>
							<div class="col-md-8">
								{{vm.data.city}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Adresa
							</div>
							<div class="col-md-8">
								{{vm.data.address}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Coordonate
							</div>
							<div class="col-md-8">
								{{vm.data.location}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Stare
							</div>
							<div class="col-md-8">
								<span class="label label-primary " ng-if="vm.data.isEnabled ">Activ</span>
								<span class="label label-danger " ng-if="!vm.data.isEnabled ">Inactiv</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								Prioritate
							</div>
							<div class="col-md-8">
								{{vm.data.priority}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---->

		</div>
	</div>
	</div>
</form>
